input[type=text], input[type=email],input[type=url],input[type=date]  {
    width: 220px;
}
input[type=password]{
    width: 150px;
}
input[type=date]{
    width: 150px;
}
input[type=password]:focus{
    background-color: rgb(119, 192, 197);
    color: #fff;
}
#fio>label>input{
    text-transform: capitalize;
}
fieldset{
    width: 400px;
    background-color: rgba(236, 236, 236, 0.575);
}
input[type=submit]:active{
    background-color:rgb(119, 192, 197); ;
}
textarea {
    width: 220px;
    height: 70px;
    resize: none;
}