header {
    width: 1800px;
    height: 950px;
    background-image: url(../images/header-background.png);
}
header>img:nth-child(1){
    width: 716px;
    height: 948px;
    position: absolute;
    left:820px;
    top: 260px;
}
header>img:nth-child(2){
    float: left;
    margin: 55px 0px 0px 320px;
}
header>div{
    padding: 420px 0px 0px 320px;
    width:400px;
    color:white;
}
header>div>p:nth-child(1){
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 300;
    margin:0px;
}
header>div>p:nth-child(2){
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.main{
    width: 1800px;
    height: 1620px;
    background-color: white;
}



#box {
    margin-left: 314px;
    width: 1485px;
    height: 556px;
}

#box_1row,
#box_2row {
    display: block;
    width: 1485px;
    height: 278px;
    font-size: 0px;
}

#box_1row>section,
#box_2row>section{
    display: inline-block;
    vertical-align: top; 
    width: 371.25px;
    height: 278px;
}
#box_2row>section:nth-child(1){
    width: 742.5px;
}
.box_block>p{
    margin-left: 40px;
    margin-right: 50px;
}
.box_caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 300;
    color: white;
}

.box_content {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: white;
    height: 60px;
}

.box_link {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
}


#box_1row> section:nth-child(1){
    background-color: #f5989d;
}
#box_1row> section:nth-child(2){
    background-color: #615f7d;
}

#box_1row> section:nth-child(3){
    background-image: url(../images/box_small_block_1row.png)
}
#box_1row> section:nth-child(4){
    background-color: #bd8cbf;
}
#box_2row> section:nth-child(1){
    background-image: url(../images/box_large_block.png);
}
#box_2row> section:nth-child(2){
    background-color: #82ca9c;
}
#box_2row> section:nth-child(3){
    background-image: url(../images/box_small_block_2row.png);
}
#box_2row> section:nth-child(1)>.box_content{
    width: 50%;
}

#text2_row, 
#text1_row{
    display: flex;
    width: 1170px;
    margin-left: 315px;
    margin-bottom: 85px;
}
.text1_column{
    flex:50%;
    margin-right: 30px;
}
.text2_column {
    flex: 25%;
    margin-right: 30px;
}
#text1_column2{
    margin-top: 72px;
}
.text_caption{
    display: flex;
    width: 1170px;
    margin-left: 315px;
    margin-top: 113px;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 300;
    color: #222626;
}
.text_body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #959595;
}
.text_caption-2level{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #67676d;
}